:root {
  --main-color: #4D7EA8;
  --secondary-color: #828489;
  --third-color: #272932;
  --fourth-color: #9E90A2;
  --fifth-color: #B6C2D9;
  --my-white: #fff;
  --my-black: rgb(18, 18, 18);
  --my-grey: grey;
  --main-font-color: #fff;
  --selected-items: #B6C2D9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--my-white);
}
::-webkit-scrollbar {
  background-color: var(--my-white);
  width: 20px;             
}
::-webkit-scrollbar-thumb {
  background-color: var(--my-white);   
  border-radius: 5px;   
  cursor: grab; 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--my-white);

}
.margin_body{
  padding-top: 70px;
}
.book_grid {
  display: flex;
  flex-flow: nowrap column;
}
.flex-centered {
  display: flex; 
  justify-content: center;
}