:root {
  --main-color: #4D7EA8;
  --secondary-color: #828489;
  --third-color: #272932;
  --fourth-color: #828489;
  --fifth-color: #B6C2D9;
  --fourth-color-background: #9e90a224;
  --placeholder: #9E90A2;
  --my-white: #fff;
  --my-black: rgb(18, 18, 18);
  --my-grey: grey;
  --main-font-color: #fff;
  --selected-items: #B6C2D9;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato' !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--my-white);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 20px;
  border: 1px var(--secondary-color) solid;
}

::-webkit-scrollbar-thumb {

  background-color: var(--main-color);
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);

}

.margin_body {
  padding-top: 70px;
}

.book_grid {
  display: flex;
  flex-flow: nowrap column;
}

.flex-centered {
  display: flex;
  justify-content: center;
}