.update_book_body {
  padding: 10px 25px 0px 25px;
}
.update_book:hover {
  transition: transform .1s;
  cursor: pointer;
  transform: scale(1.05);
  z-index: 20;
}
.image-preview {
  background-color: var(--my-white);
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.image-preview img {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 1px var(--secondary-color) solid;
}
.image-preview {
  position: relative;
  display: flex;
}

.image-preview button {
  border: none;
  background-color: transparent;
  font-weight: bolder;
  color: var(--secondary-color);
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.confirm_delete {
  display: flex;
  justify-content: space-between;
}